{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block main-content %}
<div class="container">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            {% for item in cart_items %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5>Product: {{item.product.title}}</h5>
                        <p>Quantity: {{item.quantity}}</p>
                        <p class="fw-bold">Price: $ {{item.product.price}}</p>
                    </div>
                </div>
            {% endfor %}
            <p class="fw-bold">Total Cost + Taxes ($ 4) = $ {{totalamount}}</p>
            <small>Including of all Taxes.</small><br>
            <small>May charged with third Party charges for credit card services.</small>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <h4>Select Shipping Address</h4>
            <hr>
            <form id="myform">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <h5>{{ad.name}}</h5>
                        <p>Mobile: {{ad.mobile}}</p>
                        <p>{{ad.locality}} {{ad.city}} {{ad.state}} - {{ad.zipcode}}</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                    <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                        Address: {{forloop.counter}}
                    </label>
                </div>
                {% endfor %}
                <div class="form-check mb-3">
                    <label for="totamount" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" name="totamount" value={{totalamount}} readonly>
                </div>
                <div class="text-end">
                    <button type="button" id="checkout-button" class="btn btn-warning mt-3 px-5 fw-bold">
                        Pay with Stripe
                    </button>                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}

{% block payment-gateway %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');

    var checkoutButton = document.getElementById('checkout-button');
    checkoutButton.addEventListener('click', function () {
        var formData = new FormData(document.getElementById('myform'));
        fetch("{% url 'create-checkout-session' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            return stripe.redirectToCheckout({ sessionId: data.sessionId });
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
    });
</script>
{% endblock payment-gateway %}