{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner-slider %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/images/banner/deliveryimg.png' %}" class="d-block" alt="banner_img1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/banner/offerimg.png' %}" class="d-block" alt="banner_img2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/banner/cuisinesimg.png' %}" class="d-block" alt="banner_img3">
            </div>
        </div>
    </div>

{% endblock banner-slider %}

{% block main-content %}
<div class="container">
    <h2 class="cat-text-center">Category</h2>
    <br><br>
    <div class="row">
        <div class="cat-card" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="banner-cards">
                <a href="{% url 'category' 'FF' %}" class="cat-links">
                    <div class="cardimg text-center">
                        <img src="{% static 'app/images/product/fastfood.png' %}" alt="" style="width: 250px; height: 200px; border-radius: 25px; object-fit: cover;">
                        <p class="img-txt">Fast Food</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="cat-card" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="banner-cards">
                <a href="{% url 'category' 'IN' %}" class="cat-links">
                    <div class="cardimg text-center">
                        <img src="{% static 'app/images/product/Indian.png' %}" alt="" style="width: 250px; height: 200px; border-radius: 25px; object-fit: cover;">
                        <p class="img-txt">Indian</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="cat-card" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="banner-cards">
                <a href="{% url 'category' 'HE' %}" class="cat-links">
                    <div class="cardimg text-center">
                        <img src="{% static 'app/images/product/healthy.png' %}" alt="" style="width: 250px; height: 200px; border-radius: 25px; object-fit: cover;">
                        <p class="img-txt">Healthy</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="cat-card" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="banner-cards">
                <a href="{% url 'category' 'DE' %}" class="cat-links">
                    <div class="cardimg text-center">
                        <img src="{% static 'app/images/product/desserts.png' %}" alt="" style="width: 250px; height: 200px; border-radius: 25px; object-fit: cover;">
                        <p class="img-txt">Desserts</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="cat-card" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="banner-cards">
                <a href="{% url 'category' 'RE' %}" class="cat-links">
                    <div class="cardimg text-center">
                        <img src="{% static 'app/images/product/drinks.png' %}" alt="" style="width: 250px; height: 200px; border-radius: 25px; object-fit: cover;">
                        <p class="img-txt">Refreshers</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    <br/><br/>
{% endblock main-content %}