{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for item in items %}
                    <div class="col-sm-4 text-center mb-4 hover-shadow">
                        <a href="{% url 'product-detail' item.id %}" class="btn">
                            <div>
                                <img src="{{item.product_img.url}}" width="300px" height="200px" />
                                <div class="fw-bold">{{item.title}}</div>
                                <div class="fw-bold text-danger">
                                    ${{item.price}}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}